{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="shadow col-lg-8 offset-lg-2 bg-light p-3 d-inline-block mt-5">
                <p class="text-center">{{ listeArticle.getTotalItemCount }} Articles</p>
                {% if listeArticle is not null %}
                    <div class="row">
                        <div class="col-12 my-3 text-center">
                            <div class="d-inline-block">
                                {{ knp_pagination_render(listeArticle) }}

                            </div>
                        </div>
                    </div>
                {% endif %}
                {% for article in listeArticle %}
                    <div class="card col-12 col-md-10 mx-auto mt-3">
                        <a href="{{ path('blog_view_article',{'slug': article.slug}) }}" class="text-decoration-none">
                            <div class="card-header">
                                {{ article.title }}
                            </div>
                        </a>
                        <div class="card-body">
                            <p class="card-text">{{ article.content|striptags|excerpt(15) }} <br>
                                <a href="{{ path('blog_view_article',{'slug': article.slug}) }}">
                                    voir plus...</a></p>


                        </div>
                        <div class="card-footer">
                            <p class="blockquote-footer mt-1">Ecrit par : <span
                                        class="text-info">{{ article.user.pseudo }}</span>
                                le <span class="text-info">{{ article.publicationDate|date('d/m/Y') }}</span>
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="card col-12 col-md-10 mx-auto mt-3">
                        <p>Aucun article trouvé</p>
                    </div>
                {% endfor %}
                {% if listeArticle is not null %}
                    <div class="row">
                        <div class="col-12 my-3 text-center">
                            <div class="d-inline-block">
                                {{ knp_pagination_render(listeArticle) }}

                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}





{% block title %}Listes des Articles{% endblock %}


