{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="shadow col-lg-8 offset-lg-2 bg-light p-3 d-inline-block mt-5">
                {% for article in listeArticle %}
                    <div class="card col-12 col-md-10 mx-auto mt-3">
                        <a href="{{ path('blog_view_article',{'slug': article.slug}) }}" class="text-decoration-none">
                            <div class="card-header">
                                {{ article.title }}
                            </div>
                        </a>
                        <div class="card-body">
                            <p class="card-text">{{ article.content|excerpt(15) }} <br>
                                <a href="{{ path('blog_view_article',{'slug': article.slug}) }}">
                                    voir plus...</a></p>

                            <p>Ecrit par : <span class="text-info">{{ article.user.pseudo }}</span>
                                le <span class="text-info">{{ article.publicationDate|date('d/m/Y') }}</span></p>
                        </div>
                    </div>
                {% else %}
                    <div class="card col-12 col-md-10 mx-auto mt-3">
                        <p>Aucun article les rédacteurs ce touche</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}





{% block title %}Listes des Articles{% endblock %}


