{% set route = app.request.attributes.get('_route') %}

<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {# BOOTSTRAP #}
    <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}">

    {# FONT AWESOME #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    {# MON STYLESHEET #}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {# CSS ADITIONEL #}
    {% block css %}{% endblock %}

    {# TODO: le titre pour etre dynamisé #}
    <title>{% block title %}{% endblock %} - Le Wake For Ever</title>
</head>

<body>

<header>
    {# BOOTSRAP NAV #}
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a href="{{ path('home') }}" class="me-2"><img src="{{ asset('image/logo2.png') }}" alt=""></a>
            <a class="navbar-brand" href="{{ path('home') }}">Wake</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {# BOUTON #}
                    <li class="nav-item">
                        <a class="nav-link {{ route == 'home' ? 'active' }}" aria-current="page"
                           href="{{ path('home') }}"><i class="fas fa-home me-2"></i>Accueil</a>
                    </li>
                </ul>
                {# A DROITE #}

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">


                    {% if app.user %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="profil-dropdown" role="button"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user mx-1"></i>{{ app.user.pseudo }}
                            </a>

                            <div class="dropdown-menu" aria-labelledby="profil-dropdown">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('home') }}"><i
                                            class="fas fa-sign-out-alt mr-1"></i>profil</a>
                                <a class="dropdown-item" href="{{ path('app_logout') }}"><i
                                            class="fas fa-sign-out-alt mr-1"></i>Déconnexion</a>
                            </div>
                        </li>

                    {% else %}

                        {# BOUTON #}
                        {# TODO:changer les paths #}
                        <li class="nav-item">
                            <a class="nav-link {{ route == 'app_register' ? 'active' }}" aria-current="page"
                               href="{{ path('app_register') }}"><i class="fas fa-user-plus me-2"></i>Inscription</a>
                        </li>
                        {# BOUTON #}
                        <li class="nav-item">
                            <a class="nav-link {{ route == 'app_login' ? 'active' }}" aria-current="page"
                               href="{{ path('app_login') }}"><i class="fas fa-user me-2"></i>Connexion</a>
                        </li>

                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>


</header>
{% if app.session.flashBag.has('succes') or app.session.flashBag.has('fail') %}

    <div class="container">
        <div class="row">

            {% for message in app.flashes('success') %}
                <div class="alert alert-success text-center my-2 fw-bold">
                    {{ message }}
                </div>

            {% endfor %}
            {% for message in app.flashes('fail') %}
                <div class="alert alert-danger text-center my-2 fw-bold">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}


{% block body %}{% endblock %}



{# BOOTSTRAP JS #}
<script src="{{ asset('js/bootstrap/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
